@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style: none;
}

section {
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 1px solid white;
    border-top: 0;
    border-left: 0;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

textarea {
    resize: vertical;
    height: 100px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input:hover, textarea:hover {
    border-color: white;
}

input:focus, textarea:focus {
    border-color: lightskyblue;
}




.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.fa-solid, .fa-brands{
    font-size: 20px;
}

.title--secondary, .highlight {
    color: #32de84 !important;
}

.social__link {
    background-color: #32de84;
    color: black;
}

.highlight--modal {
    color: #32de84;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect--black:after {
    position: absolute;
    content: "";
    bottom: -3px;
    height: 3px;
    /* width: 100%; */
     background-color: black; 
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    position: absolute;
    content: "";
    bottom: -3px;
    height: 3px;
    /* width: 100%; */
     background-color: white; 
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--gold:after {
    position: absolute;
    content: "";
    bottom: -3px;
    height: 2px;
    /* width: 100%; */
     background-color: wheat; 
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

nav,
.scroll,
.header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 800ms;

}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms 200ms;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para {
    color: white;
}

.dark-theme .highlight {
    color: #32de84 !important;
}

.dark-theme .social__link {
    color: white;
    background-color: #32de84;
}

.dark-theme .mail__button {
    background-color: white;
    color: black;
}

.dark-theme .scroll__icon {
    border-color: white;
}

.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black:after {
    background-color: white;
}

.dark-theme .link__hover-effect--white:after {
    background-color: black;
}


.dark-theme section {
    background-color: #242424;
}



/* LANDING PAGE */
#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 600px;
}

.social__list {
    margin-top: 16px;
    margin-bottom: 10px;
    display: flex;
}

.social__link {
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

.mail__button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
    position: fixed;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    right: 40px;
    bottom: 32px;
    position: fixed;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
    transition: all 300ms ease;
    z-index: 100;

}

.fa-envelope {
    font-size: 32px;
    size: 32px;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    left: 50%;
    border: 2px solid black;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}
/* NAVIGATION */

nav {
    /* background-color: azure; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    text-decoration: 0;
    color: #242424;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.profile {
    width: 50px;
    border-radius: 50%;
    transition: all 300ms ease;
}

    /* box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);  */


/* Modal */
   .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease; 
  }   

.modal--open .modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}

.modal__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0%); 
}

.modal__about {
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%);
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}
.modal__language {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.modal__language:hover .language__name {
    transform: scale(1);
}

.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.9);
}

.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__language--img {
    width: 100%;
}

.modal__contact {
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

.modal__title {
    font-size: 26px;
}

.modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #32de84;
    border: 2px solid #32de84;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-style: 20px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;
}

.form__submit:active {
    border-color: navy;
    color: navy;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--loading {
    background-color: #242424;
    position: absolute;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; */
    /* z-index: -1; */
}

.modal__overlay--success {
    background-color: green;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

.fa-spinner {
    animation: spinner 750ms infinite;
    font-size: 50px;
}

@keyframes spinner {
    0 {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}

/* Projects */
.section__title {
    text-align: center;
    font-size: 80px;
    margin-bottom: 60px;

}

.project__wrapper {
}

.project__img {
    width: 100%;
    transition: all 600ms ease;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px black;
    overflow: hidden;
    margin-bottom: 48px;

}

.project__wrapper:hover .project__description{
    opacity: 1;
    transform: translateY(-50%);
}

.project_wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}



.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    transform: translateY(100%);
    color: wheat;
    max-width: 550px;
}



.project__description--title {
    font-size: 40px;
}

.project__description--link {
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

.project__description--para {
    margin: 16px 0;
}

.project__description--sub-title {
    margin-top: 8px;
}




.project__wrapper-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #1c1d25;
    /* opacity: 0.7; */
    opacity: 0;
    transition: all 450ms ease;
}

.project__wrapper:hover .project__wrapper-background {
    opacity: 0.7;
}

/* Footer */

footer {
    /* added pr so that shapes gop behind footer */
    position: relative;
    background-color: #242424;
    color: antiquewhite;
    display: flex;
}


.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__social--link, .footer__copyright {
    color: wheat;
}

.footer__social--list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 20px 0;
}

/* Shapes */
.shape {
    position: absolute;
}
.shape--0 {
    top: 15vh;
    left: 5vw;
}
.shape--1 {
    top: 15vh;
    left: 50vw;
}
.shape--2 {
    top: 15vh;
    left: 80vw;
}
.shape--3 {
    top: 50vh;
    left: 5vw;
}
.shape--4 {
    top: 50vh;
    left: 50vw;
}
.shape--5 {
    top: 50vh;
    left: 80vw;
}
.shape--6 {
    top: 80vh;
    left: 5vw;
}
.shape--7 {
    top: 80vh;
    left: 50vw;
}
.shape--8 {
    top: 80vh;
    left: 80vw;
}

/* f phones */
@media (max-width: 768px) {
    .title{
        font-size: 80px;
    }
    .header__para {
        font-size: 20px;
    }
    .modal {
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }
    .modal__half {
        width: 100%;
    }
    .project__description--para {
        display: none;
    }
}

/* small phones */

@media (max-width: 480px) {
    .title {
        font-size: 52px;
    }
    .header__para {
        font-size: 18px;
    }
    .nav__link:first-chold {
        display: none;
    }
    .project__description--para {
        display: none;
    }
    .project__description {
        left: 0;
        padding: 0;
        width: 100%;
    }
    .project__description--sub-title {
        margin-bottom: 8px;
    }
    .modal__half {
        padding: 40px;
    }
}